.header{
    background: url('../../images/Main\ bg.jpg') no-repeat 100%/cover;
    min-height: 100vh;
    padding: 52px 180px;
}

.headerTitle{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 0px;
}

.headerSubtitle{
    margin-top: 34px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerBtn{
    display: block;
    margin: 18px auto 0px auto;
    padding: 5px 42px;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 3px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.headerBtn:hover{
    background: rgba(255, 255, 255, 0.5);
    transition: 1s ease;
}

.about{
    padding: 80px 425px 0px 425px;
}

.aboutTitle{
    margin: 0px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
}

.aboutDescr{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.best{
    margin-top: 100px;
    padding-bottom: 110px;
    background: url('../../images/Best\ bg.jpg') no-repeat 100%/cover;
}

.bestTitle{
    padding-top: 80px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}